<<<<<<< HEAD
.add-user-box{
    display: flex;
    width: 100%;
    margin-bottom:-200px
}
.left-user,.right-user{
    display: flex;
    padding: 50px 70px;
    flex-direction: column;
}
.left-user .add-user-field,.right-user .add-user-field{
    padding-bottom: 50px;
}
#AdminAddUser{
    width: 100%;
}
.admin-contents{
    display: flex;
}
.update-profile{
    width: 100%;
}
.user-form-details{
    margin:100px 0px 100px 90px;
    display:flex;
    flex-direction:column;
}

=======
.add-user-box{
    display: flex;
    padding: 5.2% 20%;
    width: 100%;
}
.left-user,.right-user{
    display: flex;
    padding: 8%;
    flex-direction: column;
}
.left-user .add-user-field,.right-user .add-user-field{
    padding-bottom: 27.2%;
}
#AdminAddUser{
    width: 100%;
}
.update-profile{
    width: 100%;
}

>>>>>>> 4ecba5203710dfd87571a9ce43e3f03a9eb104c8
