#navbar-land{
    display: flex;
    align-items: center;
}
.comp-name{
    margin: 2% 5%;
    font-weight: bolder;
}
.nav-ele{
    margin-left: 41%;
}
.nav-ele .links{
    padding: 30px;
    
}
.nav-ele .links Button{
    background-color: rgba(116, 210, 244, 0.945);
    color: rgb(46, 21, 120);
    font-weight: bold;
}
.nav-ele .links Button:hover{
    background-color: rgb(12, 118, 156);
    color: white;
}

