<<<<<<< HEAD
.landing-main{
    background-color: transparent;
    height: 100vh;
=======
.landing-main{
    background-color: transparent;
    height: 100vh;
>>>>>>> 4ecba5203710dfd87571a9ce43e3f03a9eb104c8
}