<<<<<<< HEAD
.connect-contents{
    padding: 10px 0px 0px 50px;
    width: 100%;
    height: 100%;
}
.activity{
    color: green;
=======
.connect-contents{
    padding: 10px 0px 0px 50px;
    width: 100%;
    height: 100%;
}
.activity{
    color: green;
>>>>>>> 4ecba5203710dfd87571a9ce43e3f03a9eb104c8
}